# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
archive
build
data-out
test/coverage

# Xcode file
indigox.xcodeproj
# Athenauem and molecule save files
*.ath
*.mol

# clang-format run file
.last_run_format

# Ignore files while developing until I get around to needing them
include/indigox/algorithm/electron_assignment/*
include/indigox/algorithm/electron_optimisation.hpp
include/indigox/classes/nicetreedecomp.hpp
include/indigox/classes/permutablegraph.hpp
include/indigox/classes/treedecomp.hpp
include/indigox/graph/assignment.hpp
src/algorithm/electron_assignment/*
src/algorithm/electron_optimisation.cpp
src/classes/electron_graph.cpp
src/classes/iters.cpp
src/classes/nicetreedecomp.cpp
src/classes/permutablegraph.cpp
src/classes/treedecomp.cpp
src/graph/assignment.cpp
src/main.cpp

